// Color
color-background = #e6e6e6
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #3d658d

// Font
font-default = 'Open Sans', sans-serif
font-serif = "Georgia", serif
font-mono = "Source Code Pro", "Courier New", Consolas, "Lucida Console", Menlo, Monaco, "Microsoft Yahei", monospace
font-title = 'Open Sans', sans-serif

// Width
page-width = 820px
